@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; // 1 rem = 10px
}
body {
  color: #fff;
  background-color: #141111;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.body {
  &--fixed {
    overflow: hidden;
  }
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-decoration: none !important;
}
img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}
input,
button,
textarea {
  font-size: inherit;
  outline: none;
  border: none;
  font-family: inherit;
}
input,
textarea {
  color: inherit;
  display: block;
}
button {
  cursor: pointer;
}
