.btn {
  font-size: 16px;
  line-height: 1.2;
  padding: 11px 12px 8px;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  transition: 0.3s;
  border: 0;
}
