.catalog {
  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__link {
    font-size: 18px;
    padding: 5px 12px 3px;
    text-transform: uppercase;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 6px;
    &--active {
      background-color: rgba(251, 187, 67, 0.3);
      border: 1px solid #fbbb43;
    }
  }
  &__content {
    transition: opacity 0.3s;
    padding: 0 15px;
    &--hidden {
      opacity: 0;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
    margin-bottom: 40px;
  }
}
