.catalog {
  &__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__link {
    font-size: 18px;
    padding: 5px 12px 3px;
    text-transform: uppercase;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 6px;

    &--active {
      background-color: rgba(251, 187, 67, 0.3);
    }
  }
  &__content {
    position: relative;
    min-height: 500px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  &__list-item {
    flex-basis: calc((100% - 160px) / 5);
    margin: 0 16px 32px;
  }
}
