.footer {
  &__inner {
    display: flex;
    border-top: 1px solid $clr-primary;
    padding-top: 40px;
    flex-wrap: wrap;
    & > *:nth-child(-n + 3) {
      flex: 1;
    }
  }
  &__menu {
    min-width: 1050px;
    margin-bottom: 16px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__list-item {
    flex-basis: 25%;
    padding-right: 20px;
    padding-left: 12px;
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }
  &__link {
    &::after {
      content: "";
      display: block;
      margin-top: 3px;
      transition: transform 0.4s;
      background-color: $clr-primary;
      transform: scaleX(0);
      transform-origin: right;
      height: 2px;
      width: 100%;
    }
    &:hover::after {
      transform-origin: left;
      transform: scaleX(1);
    }
  }

  &__social {
    display: flex;
    justify-content: flex-end;
  }
  &__social-item {
    &:not(:last-child) {
      margin-right: 3%;
    }
  }
  &__notification {
    margin-left: 315px;
    color: $clr-primary;
    &-wrapper {
      display: flex;
      align-items: center;

      &::before {
        content: "";
        background-image: url("https://gabestore.ru/images/footericon.png");
        background-size: cover;
        display: block;
        height: 48px;
        width: 48px;
        flex-shrink: 0;
        margin-right: 8px;
      }
    }
  }
  &__options {
    margin-left: auto;
  }
  &__copyright {
    color: rgba(255, 255, 255, 0.4);
    margin: 80px 0 40px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      &:hover {
        color: $clr-primary;
      }
    }

    &-policy {
      & > *:last-child {
        margin-left: 60px;
      }
    }
    &-payment {
      display: flex;
      &__item {
        margin: 0 16px;
      }
    }
  }
}
