.ourchoice {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    @media only screen and (max-width: 1280px) {
      display: block;
    }
  }
  &__list {
    display: grid;
    grid-gap: 32px;
    grid-template-rows: 290px calc(140px - 32px) 290px;
    grid-template-columns: repeat(2, 1fr);
    @media only screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      &__item {
        grid-column: unset;
        grid-row: unset;
      }
    }
  }
  &__list-item {
    @for $i from 0 through 4 {
      &:nth-child(#{$i}n) {
        animation: appear 0.4s both #{$i * 0.2s};
      }
    }
    &--0 {
      grid-row: 1 / 3;
    }
    &--1 {
      grid-row: 3 / -1;
    }
    &--3 {
      grid-row: 2 / -1;
    }
    @media only screen and (max-width: 1000px) {
      grid-column: unset;
      grid-row: unset;
    }
  }
  .slider {
    flex: 1;
    &__slide {
      transition-delay: 2s;
      &--hidden {
        ul li {
          @for $i from 0 through 4 {
            &:nth-child(#{$i}n) {
              animation: disappear 0.4s both #{$i * 0.2s};
            }
          }
        }
      }
    }
  }
  .control {
    margin-left: 40px;
    &__progressbar-value {
      height: 25%;
    }
    @media only screen and (max-width: 1280px) {
      margin-left: 0;
      width: auto;
      height: auto;
      flex-direction: row;
      justify-content: center;
      margin-top: 40px;
      &__progressbar {
        display: none;
      }
      &__btn {
        &--up {
          transform: rotate(90deg);
          margin-right: 40px;
        }
        &--down {
          transform: rotate(-90deg);
        }
      }
    }
  }
}
.control {
  width: 44px;
  height: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__btn {
    width: 44px;
    height: 44px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transition: border-color 0.3s;
    background-color: #000;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 50%;
    }
    &--up {
      transform: rotateX(180deg);
    }
    &:hover {
      border-color: #fff;
    }
    &--disabled {
      pointer-events: none;
    }
  }
  &__progressbar {
    width: 1px;
    flex: 1;
    margin: 10px 0 10px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    overflow: hidden;
    &-value {
      transition: top 0.3s 2s;
      background-color: #fff;
      width: 100%;
      position: absolute;
    }
  }
}
