.promo {
  min-height: 100vh;
  background-image: url("../../img/749807.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
  &__content {
    display: flex;
    justify-content: flex-end;
  }
  &__hits {
    display: flex;
    align-items: center;
    position: relative;
    &-title {
      transform: rotate(-90deg);
      position: absolute;
      top: 60px;
      left: -80px;
    }
    &-list {
      display: flex;
    }
    &-item {
      flex-basis: 240px;
      &:not(:first-child) {
        margin-left: 24px;
      }
      @for $i from 0 through 3 {
        &:nth-child(#{$i}n) {
          animation: disappear 0.4s both #{$i * 0.2s};
        }
      }
    }
    .slider {
      width: 720px;
      min-height: 390px;
      &__slide {
        transition-delay: 1s;
        &--active {
          ul li {
            @for $i from 0 through 3 {
              &:nth-child(#{$i}n) {
                animation: appear 0.4s both #{$i * 0.2s + 0.8s};
              }
            }
          }
        }
      }
    }
    .control {
      &__progressbar-value {
        height: 20%;
      }
    }
  }
}
